<h1>Ask your coach anything</h1>
<h2>be careful with your questions tho...</h2>
<p>the coach might be loco!</p>

<form action="answer" data-turbo="false">
  <input type="text"  name="question" id="input">
  <input type="submit" value="Ask!" id="btn">
</form>
